
Summer.Batch.Extra/obj/Debug/netcoreapp2.2/Summer.Batch.Extra.csprojAssemblyReference.cache
Summer.Batch.Extra/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Summer.Batch.Extra/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Summer.Batch.Extra/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Summer.Batch.Extra/obj/project.assets.json
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.cache
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.g.props
Summer.Batch.Infrastructure/obj/Debug/netcoreapp2.2/Summer.Batch.Infrastructure.AssemblyInfo.cs
Summer.Batch.Infrastructure/obj/Debug/netcoreapp2.2/Summer.Batch.Infrastructure.AssemblyInfoInputs.cache
Summer.Batch.Infrastructure/obj/Debug/netcoreapp2.2/Summer.Batch.Infrastructure.assets.cache
Summer.Batch.Infrastructure/obj/Debug/netcoreapp2.2/Summer.Batch.Infrastructure.csproj.CoreCompileInputs.cache
Summer.Batch.Infrastructure/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Summer.Batch.Infrastructure/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Summer.Batch.Infrastructure/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Summer.Batch.Infrastructure/obj/project.assets.json
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.cache
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.g.props
.vs/SummerBatchCore/v15/Server/sqlite3/db.lock
.vs/SummerBatchCore/v15/Server/sqlite3/storage.ide
.vs/SummerBatchCore/v15/Server/sqlite3/storage.ide-shm
.vs/SummerBatchCore/v15/Server/sqlite3/storage.ide-wal
Summer.Batch.Common/obj/Debug/netcoreapp2.2/Summer.Batch.Common.AssemblyInfo.cs
Summer.Batch.Common/obj/Debug/netcoreapp2.2/Summer.Batch.Common.AssemblyInfoInputs.cache
Summer.Batch.Common/obj/Debug/netcoreapp2.2/Summer.Batch.Common.assets.cache
Summer.Batch.Common/obj/Debug/netcoreapp2.2/Summer.Batch.Common.csproj.CoreCompileInputs.cache
Summer.Batch.Common/obj/Debug/netcoreapp2.2/Summer.Batch.Common.csprojAssemblyReference.cache
Summer.Batch.Common/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Summer.Batch.Common/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Summer.Batch.Common/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Summer.Batch.Common/obj/project.assets.json
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.cache
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.g.props
Summer.Batch.Core/obj/Debug/netcoreapp2.2/Summer.Batch.Core.AssemblyInfo.cs
Summer.Batch.Core/obj/Debug/netcoreapp2.2/Summer.Batch.Core.AssemblyInfoInputs.cache
Summer.Batch.Core/obj/Debug/netcoreapp2.2/Summer.Batch.Core.assets.cache
Summer.Batch.Core/obj/Debug/netcoreapp2.2/Summer.Batch.Core.csproj.CoreCompileInputs.cache
Summer.Batch.Core/obj/Debug/netcoreapp2.2/Summer.Batch.Core.csprojAssemblyReference.cache
Summer.Batch.Core/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Summer.Batch.Core/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Summer.Batch.Core/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Summer.Batch.Core/obj/project.assets.json
Summer.Batch.Core/obj/Summer.Batch.Core.csproj.nuget.cache
Summer.Batch.Core/obj/Summer.Batch.Core.csproj.nuget.g.props
Summer.Batch.CoreTests/obj/Debug/netcoreapp2.2/Summer.Batch.CoreTests.AssemblyInfo.cs
Summer.Batch.CoreTests/obj/Debug/netcoreapp2.2/Summer.Batch.CoreTests.AssemblyInfoInputs.cache
Summer.Batch.CoreTests/obj/Debug/netcoreapp2.2/Summer.Batch.CoreTests.assets.cache
Summer.Batch.CoreTests/obj/Debug/netcoreapp2.2/Summer.Batch.CoreTests.csproj.CoreCompileInputs.cache
Summer.Batch.CoreTests/obj/Debug/netcoreapp2.2/Summer.Batch.CoreTests.csprojAssemblyReference.cache
Summer.Batch.CoreTests/obj/Debug/netcoreapp2.2/Summer.Batch.CoreTests.Program.cs
Summer.Batch.CoreTests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Summer.Batch.CoreTests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Summer.Batch.CoreTests/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Summer.Batch.CoreTests/obj/project.assets.json
Summer.Batch.CoreTests/obj/Summer.Batch.CoreTests.csproj.nuget.cache
Summer.Batch.CoreTests/obj/Summer.Batch.CoreTests.csproj.nuget.g.props
Summer.Batch.Data/obj/Debug/netcoreapp2.2/Summer.Batch.Data.AssemblyInfo.cs
Summer.Batch.Data/obj/Debug/netcoreapp2.2/Summer.Batch.Data.AssemblyInfoInputs.cache
Summer.Batch.Data/obj/Debug/netcoreapp2.2/Summer.Batch.Data.assets.cache
Summer.Batch.Data/obj/Debug/netcoreapp2.2/Summer.Batch.Data.csproj.CoreCompileInputs.cache
Summer.Batch.Data/obj/Debug/netcoreapp2.2/Summer.Batch.Data.csprojAssemblyReference.cache
Summer.Batch.Data/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Summer.Batch.Data/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Summer.Batch.Data/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Summer.Batch.Data/obj/project.assets.json
Summer.Batch.Data/obj/Summer.Batch.Data.csproj.nuget.cache
Summer.Batch.Data/obj/Summer.Batch.Data.csproj.nuget.g.props
Summer.Batch.Extra/obj/Debug/netcoreapp2.2/Summer.Batch.Extra.AssemblyInfo.cs
Summer.Batch.Extra/obj/Debug/netcoreapp2.2/Summer.Batch.Extra.AssemblyInfoInputs.cache
Summer.Batch.Extra/obj/Debug/netcoreapp2.2/Summer.Batch.Extra.assets.cache
Summer.Batch.Extra/obj/Debug/netcoreapp2.2/Summer.Batch.Extra.csproj.CoreCompileInputs.cache
Summer.Batch.Extra/obj/project.assets.json
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.cache
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.g.props
Summer.Batch.Infrastructure/obj/project.assets.json
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.cache
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.g.props
Summer.Batch.Common/obj/project.assets.json
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.cache
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.g.props
Summer.Batch.Core/obj/project.assets.json
Summer.Batch.Core/obj/Summer.Batch.Core.csproj.nuget.cache
Summer.Batch.Core/obj/Summer.Batch.Core.csproj.nuget.g.props
Summer.Batch.CoreTests/obj/project.assets.json
Summer.Batch.CoreTests/obj/Summer.Batch.CoreTests.csproj.nuget.cache
Summer.Batch.CoreTests/obj/Summer.Batch.CoreTests.csproj.nuget.g.props
Summer.Batch.Data/obj/project.assets.json
Summer.Batch.Data/obj/Summer.Batch.Data.csproj.nuget.cache
Summer.Batch.Data/obj/Summer.Batch.Data.csproj.nuget.g.props
Summer.Batch.Extra/obj/project.assets.json
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.cache
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.g.props
Summer.Batch.Infrastructure/obj/project.assets.json
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.cache
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.g.props
Summer.Batch.Common/obj/project.assets.json
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.cache
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.g.props
Summer.Batch.Core/obj/project.assets.json
Summer.Batch.Core/obj/Summer.Batch.Core.csproj.nuget.cache
Summer.Batch.Core/obj/Summer.Batch.Core.csproj.nuget.g.props
Summer.Batch.CoreTests/obj/project.assets.json
Summer.Batch.CoreTests/obj/Summer.Batch.CoreTests.csproj.nuget.cache
Summer.Batch.CoreTests/obj/Summer.Batch.CoreTests.csproj.nuget.g.props
Summer.Batch.Data/obj/project.assets.json
Summer.Batch.Data/obj/Summer.Batch.Data.csproj.nuget.cache
Summer.Batch.Data/obj/Summer.Batch.Data.csproj.nuget.g.props
Summer.Batch.Extra/obj/project.assets.json
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.cache
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.g.props
Summer.Batch.Infrastructure/obj/project.assets.json
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.cache
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.g.props
Summer.Batch.Common/obj/project.assets.json
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.cache
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.g.props
Summer.Batch.Core/obj/project.assets.json
Summer.Batch.Core/obj/Summer.Batch.Core.csproj.nuget.cache
Summer.Batch.Common/obj/project.assets.json
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.cache
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.g.props
Summer.Batch.Core/obj/project.assets.json
Summer.Batch.Core/obj/Summer.Batch.Core.csproj.nuget.cache
Summer.Batch.Core/obj/Summer.Batch.Core.csproj.nuget.g.props
Summer.Batch.CoreTests/obj/project.assets.json
Summer.Batch.CoreTests/obj/Summer.Batch.CoreTests.csproj.nuget.cache
Summer.Batch.CoreTests/obj/Summer.Batch.CoreTests.csproj.nuget.g.props
Summer.Batch.Data/obj/project.assets.json
Summer.Batch.Data/obj/Summer.Batch.Data.csproj.nuget.cache
Summer.Batch.Data/obj/Summer.Batch.Data.csproj.nuget.g.props
Summer.Batch.Extra/obj/project.assets.json
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.cache
Summer.Batch.Extra/obj/Summer.Batch.Extra.csproj.nuget.g.props
Summer.Batch.Infrastructure/obj/project.assets.json
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.cache
Summer.Batch.Infrastructure/obj/Summer.Batch.Infrastructure.csproj.nuget.g.props
Summer.Batch.Common/obj/project.assets.json
Summer.Batch.Common/obj/Summer.Batch.Common.csproj.nuget.cache
